
 $PROJDIR/Library/
 $PROJDIR/Temp/
 $PROJDIR/Obj/
 
 *.csproj
 *.pidb
 *.unityproj
 *.sln
 *.userprefs
 *.user
 *.lockfile
 *.DS_store
 *.DS_store?
 *._*
 .Spotlight-V100
 .Trashes
 ehthumbs.db
 Thumbs.db
